<li>
  <span class="content"><%= transaction.date %></span>
  <span class="price"><%= transaction.price %></span>
  <span class="price"><%= transaction.transactionType %></span>
  
  <span class="location"><%= transaction.location %></span>
  
</li>